<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resource/element-ui/lib/theme-chalk/index.css">
    <style>
        h1, .box-card {
            margin: auto;
            width: 60%;
        }

        .el-form-item {
            margin-bottom: 0
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <el-card class="box-card" style="width: 1180px;">
        <div slot="header" class="clearfix">
            <el-form :inline="true" :model="query">

                <el-form-item>
                    <el-row>
                        <el-col :span="16">
                            <el-button type="success" plain @click="dialog.showAdd = true">新建</el-button>
                            <el-button type="success" @click="downExcel">导出数据</el-button>
                        </el-col>
                        <el-col :span="8">
                            <el-upload
                                    class="clearfix"
                                    action="/carrierDisk/importExcel"
                                    name="excel"
                                    :on-progress="onExcelProgress"
                                    :on-success="handleExcelSuccess"
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                    multiple
                                    :limit="1">
                                <el-button  type="primary">数据导入</el-button>
                            </el-upload>
                        </el-col>
                    </el-row>
                </el-form-item>

            </el-form>
        </div>

        <el-table :data="tableData" stripe border>
            <el-table-column prop="diskId" label="ID" width="80" align="center"></el-table-column>
            <el-table-column prop="brandId" label="品牌类型" width="80" :formatter="formatterType" align="center"></el-table-column>
            <el-table-column prop="orderId" label="工单" width="80" align="center"></el-table-column>
            <el-table-column prop="capacity" label="容量" align="center"></el-table-column>
            <el-table-column prop="model" label="名称" align="center"></el-table-column>
            <el-table-column prop="serialnumber" label="序列号" align="center"></el-table-column>
            <el-table-column prop="isnew" label="是否新盘" :formatter="statusFormat" align="center"></el-table-column>
            <el-table-column label="操作" width="160" align="center">
                <template slot-scope="scope">
                    <el-link type="primary" size="small" @click="edit(scope.row.diskId)">编辑</el-link>
                    <el-popconfirm title="这是一段内容确定删除吗？" @confirm="del(scope.row.diskId)">
                        <el-link slot="reference" type="danger" size="small">删除</el-link>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog title="修改用户" :visible.sync="dialog.updateShow" width="400px">
            <el-form :model="editForm" ref="editForm" label-width="100px">
                <el-form-item label="品牌类型" prop="brandId" >
                    <el-select v-model="editForm.brandId" placeholder="请选择">
                        <el-option
                                v-for="userType in typeData"
                                :key="userType.value"
                                :label="userType.label"
                                :value="userType.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="工单编号" prop="orderId" >
                    <el-select v-model="editForm.orderId" placeholder="请选择">
                        <el-option
                                v-for="userType in orderIdList"
                                :key="userType.orderId"
                                :label="userType.orderId"
                                :value="userType.orderId">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="容量" prop="capacity">
                    <el-input v-model="editForm.capacity" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="名称" prop="model">
                    <el-input v-model="editForm.model" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="序列号" prop="serialnumber">
                    <el-input v-model="editForm.serialnumber" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="是否新盘" prop="isnew">
                    <el-input v-model="editForm.isnew" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>

            <div slot="footer" class="dialog-footer">
                <el-button @click="dialog.updateShow = false">取 消</el-button>
                <el-button type="primary" @click="update()">保存</el-button>
            </div>
        </el-dialog>

    </el-card>
</div>
<!-- import Vue before Element -->
<script src="/resource/js/vue.js"></script>
<script src="/resource/js/axios.min.js"></script>
<!-- import JavaScript -->
<script src="/resource/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            dialog: {
                updateShow: false,
            },
            tableData: [],
            editForm: {},
            typeData: [
                {
                    value: 1,
                    label:'希捷'
                },{
                    value: 2,
                    label: '西部数据'
                },{
                    value: 3,
                    label: '日立'
                },{
                    value: 4,
                    label: '三星'
                },{
                    value: 5,
                    label: '东芝'
                },{
                    value: 6,
                    label: 'DELL'
                },{
                    value: 7,
                    label: '其他'
                }
            ],
            orderIdList: [],
        },
        methods: {
            onExcelProgress(){

            },
            handleExcelSuccess(res,result) {
                this.$message.success("导入成功");
                if (result.response.success) {
                    this.load();
                }
            },
            downExcel(){
                window.location.href="/carrierDisk/downExcel"
            },
            load(){
                axios.get("../carrierDisk/queryAll")
                .then(resp => {
                    this.tableData = resp.data;
                })
                .catch(error => {
                    this.$message.error("load error!");
                })
            },
            statusFormat(row){
                if (row.type === '1') {
                    return '是'
                } else  {
                    return '否'
                }

            },
            save() {
                axios.post("add", this.addForm)
                    .then(resp => {
                        if (resp.data) {
                            this.$message.success("添加成功！");
                            this.dialog.addShow = false;
                            this.load();//重新加载最新数据
                        } else {
                            this.$message.error("出错了！");
                        }
                    })
                    .catch(error => {
                        this.$message.error("出错了！");
                    }).then(() => {
                    this.$refs.addForm.resetFields();
                })
            },
            del(id){
                axios.get("../carrierDisk/delete/"+id)
                    .then(resp => {
                        this.$message.success("delete success!");
                        this.load();
                    })
                    .catch(error => {
                        this.$message.error("del error!");
                    })
            },
            edit(id){
                axios.get("../carrierDisk/queryById/"+id)
                    .then(resp => {
                        this.editForm = resp.data;
                        this.loadOrderId();
                        this.dialog.updateShow = true;
                    })
                    .catch(error => {
                        this.$message.error("queryById error!");
                    })
            },
            formatterType(row){
                switch (row.brandId){
                    case 1:
                        return '希捷';
                    case 2:
                        return '西部数据';
                    case 3:
                        return '日立';
                    case 4:
                        return '三星';
                    case 5:
                        return '东芝';
                    case 6:
                        return 'DELL';
                    case 7:
                        return '其他';
                }
            },
            update(){
                axios.post("../carrierDisk/update", this.editForm)
                    .then(resp => {
                        this.$message.success("update success!");
                        this.dialog.updateShow = false;
                        this.load();
                    })
                    .catch(error =>{
                        this.$message.error("update error!");
                    })
                    .then(() =>{
                        //重置表单
                        this.$refs.editForm.resetFields();
                    })
            },
            loadOrderId(){
                axios.get("../OrderRepair/queryAllRepairId")
                    .then(resp => {
                        this.orderIdList = resp.data;
                    })
                    .catch(error => {
                        this.$message.error("load error!");
                    })
            },
        },
        mounted: function(){
            this.load();
            this.loadOrderId();
        }
    })
</script>
</body>
</html>