<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/resource/element-ui/lib/theme-chalk/index.css">
    <style>
        .picture{
            width: 60px;
            height: 60px;
            border: 0px;
        }
        .disabled  .el-upload--picture-card{
            display:none;   /* 上传按钮隐藏 */
        }
        h1, .box-card {
            margin: auto;
            width: 60%;
        }

        .el-form-item {
            margin-bottom: 0
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <!--<h1 style="margin: 20px auto">工单列表</h1>-->
        <el-card class="box-card" style="width: 1180px;">
            <div slot="header" class="clearfix">
                <el-form :inline="true" :model="query">
                    <el-form-item>
                        <el-select v-model="query.orderType" placeholder="请选择">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item>
                        <el-date-picker
                                v-model="query.dateRange"
                                type="daterange"
                                range-separator="至"
                                start-placeholder="开始注册日期"
                                end-placeholder="结束注册日期"
                                value-format="yyyy-MM-dd">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="load"><i class="el-icon-search"></i>搜索</el-button>
                        <el-button type="success" plain @click="dialog.addShow = true">新建</el-button>
                    </el-form-item>

                </el-form>
            </div>
            <el-table :data="tableData" stripe border>
                <el-table-column prop="orderId" label="ID" width="80" align="center"></el-table-column>
                <el-table-column prop="orderType" label="类型" :formatter="formatterType" align="center"></el-table-column>
                <el-table-column prop="progressName" label="进度" align="center"></el-table-column>
                <el-table-column prop="restoreResult" label="恢复结果" align="center"></el-table-column>
                <el-table-column prop="realName" label="前台" align="center"></el-table-column>
                <el-table-column prop="startTime" label="创建时间" align="center"></el-table-column>
                <el-table-column prop="endTime" label="结单时间" align="center"></el-table-column>
                <el-table-column prop="takeoutTime" label="取盘时间" align="center"></el-table-column>
                <el-table-column prop="cusName" label="客户" align="center"></el-table-column>
                <el-table-column label="操作" width="160" align="center">
                    <template slot-scope="scope">
                        <el-link type="primary" size="small" @click="edit(scope.row.orderId)">编辑</el-link>

                        <el-popconfirm title="这是一段内容确定删除吗？" @confirm="del(scope.row.orderId)">
                            <el-link slot="reference" type="danger" size="small">删除</el-link>
                        </el-popconfirm>
                        <el-link type="success" size="small" @click="showImageForm(scope.row.orderId)">工单照片</el-link>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="pageInfo.currentPage"
                    :page-sizes="pageInfo.pageSizes"
                    :page-size="pageInfo.pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="pageInfo.total">
            </el-pagination>

            <el-dialog title="新建工单" :visible.sync="dialog.addShow" width="400px">
                <el-form :model="addForm" label-width="80px" ref="addForm">
                    <el-form-item label="工单类型" prop="orderType">
                        <el-select v-model="addForm.orderType" placeholder="请选择">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="用户" prop="cusId">
                        <el-select v-model="addForm.cusId" placeholder="请选择">
                            <el-option
                                    v-for="item in custommers"
                                    :key="item.cusId"
                                    :label="item.cusUnit+':'+item.cusName"
                                    :value="item.cusId">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>

                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialog.addShow = false">取 消</el-button>
                    <el-button type="primary" @click="save()">保存</el-button>
                </div>
            </el-dialog>

            <el-dialog title="编辑工单" :visible.sync="dialog.updateShow" width="400px">
                <el-form :model="updateForm" label-width="80px" ref="updateForm">
                    <el-form-item label="工单类型" prop="orderType">
                        <el-select v-model="updateForm.orderType" placeholder="请选择">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="用户" prop="cusId">
                        <el-select v-model="updateForm.cusId" placeholder="请选择">
                            <el-option
                                    v-for="item in custommers"
                                    :key="item.cusId"
                                    :label="item.cusUnit+':'+item.cusName"
                                    :value="item.cusId">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item prop="工单编号" prop="orderId" v-show="false">
                        <el-input v-model="updateForm.orderId"></el-input>
                    </el-form-item>

                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialog.updateShow = false">取 消</el-button>
                    <el-button type="primary" @click="update()">保存</el-button>
                </div>
            </el-dialog>

        </el-card>

        <!--<h1 style="margin: 20px auto">工单照片</h1>-->
        <el-card class="box-card" style="width: 1180px;">
            <el-dialog title="工单照片" :visible.sync="dialog.showImage" width="900px">

                <el-form :model="imageForm" label-width="80px" ref="imageForm">
                    <el-row>
                        <el-col :span="12">
                            <el-form-item label="工单编号"  prop="orderId">
                                <el-input v-model="imageForm.orderId" auto-complete="off" :disabled="true"></el-input>
                            </el-form-item>
                            <el-form-item label="工单类型" prop="type">
                                <el-select v-model="imageForm.type" placeholder="请选择">
                                    <el-option
                                            v-for="item in imageType"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="名称" prop="imageName">
                                <el-input v-model="imageForm.imageName" auto-complete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="图片路径"  prop="imageUrl">
                                <el-input v-model="imageForm.imageUrl" auto-complete="off" :disabled="true"></el-input>
                            </el-form-item>
                            <el-form-item >
                                <el-button type="primary" @click="addCarrierImage" >提交</el-button>
                                <el-button type="info" >重置</el-button>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="工单照片">
                                <el-upload
                                        ref="upload"
                                        :class="{disabled:uploadDisabled}"
                                        action="/order/upload"
                                        name="file"
                                        list-type="picture-card"
                                        :on-preview="handlePreview"
                                        :on-progress="onProgress"
                                        :on-remove="handleRemove"
                                        :on-success="handleSuccess"
                                        :before-upload="beforeUpload"
                                        :on-change="handleChange"
                                        :file-list="fileList"
                                        accept=".jpeg,.jpg,.gif,.png"
                                        :limit="limitCountImg">
                                    <i class="el-icon-plus"></i>
                                </el-upload>
                                <!--预览图片-->
                                <el-dialog :modal-append-to-body="false" :visible.sync="imgVisible" width="30%">
                                    <img width="100%" :src="dialogImageUrl" alt="图片未找到" />
                                </el-dialog>

                            </el-form-item>
                            <el-form-item label="头像" prop="picture" hidden>
                                <el-input v-model="addForm.picture" clearable></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialog.showImage = false">取 消</el-button>
                    <el-button type="primary" @click="save()">保存</el-button>
                </div>

                <el-table :data="imageData" stripe border>
                    <el-table-column prop="imageId" label="ID" width="80" align="center"></el-table-column>
                    <el-table-column prop="orderId" label="工单" width="80" align="center"></el-table-column>
                    <el-table-column prop="type" label="类型" :formatter="statusFormat" align="center"></el-table-column>
                    <el-table-column prop="imageName" label="名称" align="center"></el-table-column>
                    <el-table-column label="图片"  align="center">
                        <template scope="scope">
                            <el-link @click="down(scope.row.imageUrl)" target="_blank">
                                <img :src="scope.row.imageUrl" class="picture" />
                            </el-link>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" width="160" align="center">
                        <template slot-scope="scope">
                            <el-link type="primary" size="small" @click="editImage(scope.row.imageId)">编辑</el-link>
                            <el-popconfirm title="这是一段内容确定删除吗？" @confirm="delImage(scope.row.imageId)">
                                <el-link slot="reference" type="danger" size="small">删除</el-link>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>

                <el-dialog title="编辑图片" :visible.sync="dialog.updateImageShow" width="400px">
                    <el-form :model="updateImage" label-width="80px" ref="updateForm">
                        <el-form-item label="图片类型" prop="type">
                            <el-select v-model="updateImage.type" placeholder="请选择">
                                <el-option
                                        v-for="item in imageType"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="图片名称" prop="imageName" >
                            <el-input v-model="updateImage.imageName" auto-complete="off"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialog.updateImageShow = false">取 消</el-button>
                        <el-button type="primary" @click="saveImage()">保存</el-button>
                    </div>
                </el-dialog>

            </el-dialog>
        </el-card>
    </div>

    <!-- import Vue before Element -->
    <script src="/resource/js/vue.js"></script>
    <script src="/resource/js/axios.min.js"></script>
    <!-- import JavaScript -->
    <script src="/resource/element-ui/lib/index.js"></script>
    <script>

        new Vue({
            el: `#app`,
            data: {
                query: {

                },
                pageInfo: {
                    currentPage: 1,
                    pageSize: 5,
                    total: 0,
                    pageSizes: [5, 10, 20, 50, 100]
                },
                addForm: {

                },
                dialog: {
                    addShow: false,
                    updateShow: false,
                    showImage: false,
                    updateImageShow: false,
                },
                updateForm: {

                },
                tableData: [],
                options: [
                    {
                        value: '1',
                        label:'恢复'
                    },{
                        value: '2',
                        label: '消除'
                    },{
                        value: null,
                        label: '全部'
                    }
                ],
                custommers: [

                ],
                imageForm:{},
                updateImage:{},
                imageType: [
                    {
                        value: '1',
                        label: '高拍仪'
                    }, {
                        value: '2',
                        label: '相机'
                    }
                ],
                imageData:[],
                // 是否禁用上传
                uploadDisabled:false,
                // 是否显示预览图片
                imgVisible: false,
                // 预览图片url
                dialogImageUrl: "",
                // 上传的文件列表（用于在上传组件中回显图片）, 例如: [{name: 'xxx.jpg', url: 'https://xxx.com/xxx.jpg'}]
                fileList: [],
                limitCountImg:1,   //上传图片的最大数量
            },
            methods: {
                load(){
                    axios.post("../OrderRepair/queryAll"+"/"+this.pageInfo.pageSize+"/"+this.pageInfo.currentPage,this.query)
                    .then(resp => {
                        this.tableData = resp.data.list;
                        this.pageInfo.total = resp.data.total;
                    }).catch(error => {
                        this.$message.error("error!");
                    })
                },
                handleSizeChange(size) {//改变的是每页显示的条数
                    this.pageInfo.pageSize = size;
                    this.load();
                },
                handleCurrentChange(size) {//改变当前页数
                    this.pageInfo.currentPage = size;
                    this.load();
                },
                formatterType(row){
                    if(row.orderType === '1'){
                        return '恢复';
                    }else{
                        return '消除';
                    }
                },
                save(){
                  axios.post("../OrderRepair/add", this.addForm)
                    .then(resp =>{
                        this.$message.success("success!");
                        this.dialog.addShow = false;
                        this.load();
                    })
                    .catch(error =>{
                        this.$message.error("error!");
                    })
                    .then(()=>{
                        this.$refs.addForm.resetFields();
                    })
                },
                loadCustomer(){
                  axios.get("../OrderCustomer/queryAll")
                    .then(resp => {
                        this.custommers = resp.data;
                    })
                    .catch(error =>{
                        this.$message.error("error!");
                    })
                },
                del(orderId){
                    axios.get("../OrderRepair/delete/" + orderId)
                    .then(resp =>{
                        this.$message.success("delete success!");
                        this.load();
                    })
                    .catch(error =>{
                        this.$message.error("delete error!");
                    })
                },
                update(){
                  axios.post("../OrderRepair/update")
                    .then(resp =>{
                        this.$message.success("update success!");
                        this.dialog.updateShow = false;
                        this.load();
                    })
                    .catch(error =>{
                        this.$message.error("update error!");
                    })
                    .then(() =>{//重置表单数据
                        this.$refs.updateForm.resetFields();
                    })
                },
                edit(orderId){
                  axios.get("../OrderRepair/queryById/"+orderId)
                    .then(resp =>{
                        this.updateForm = resp.data;
                        this.dialog.updateShow = true;
                    })
                    .catch(error =>{
                        this.$message.error("edit error!");
                    })
                },
                showImageForm(orderId){
                    this.dialog.showImage = true;
                    this.loadImage();
                    this.imageForm.orderId =orderId;
                },
                loadImage(){
                    axios.get("../carrierImage/queryAll")
                    .then(resp => {
                        this.imageData = resp.data;
                    })
                    .catch(error => {
                        this.$message.error("loadImage error!");
                    })
                },
                addCarrierImage(){
                    axios.post("../carrierImage/add", this.imageForm)
                    .then(resp => {
                        this.$message.success("add success!");
                        this.loadImage();
                    })
                    .catch(error => {
                        this.$message.error("add error!");
                    })
                    .then(() => {
                        this.$refs.imageForm.resetFields();
                    })
                },
                //文件上传成功的钩子函数
                handleSuccess(res, result) {
                    this.$message.success("图片上传成功");
                    if (result.response.success) {
                        //this.imgVisible = true;
                        this.dialogImageUrl = result.response.message;
                        this.imageForm.imageUrl = result.response.message; //将返回的文件储存路径赋值picture字段
                    }
                },
                // 上传中
                onProgress(event, file, fileList){
                    this.uploadDisabled = true;
                },
                //删除文件之前的钩子函数
                handleRemove(file, fileList) {
                    this.$message.info("已删除原有图片");
                    this.uploadDisabled = fileList.length >= this.limitCountImg;
                },
                //处理图片变化时
                handleChange(file, fileList){
                    this.uploadDisabled = fileList.length >= this.limitCountImg;
                },
                //点击列表中已上传的文件事的钩子函数
                handlePreview(file) {
                },
                //参数是上传的文件，若返回false，或返回Primary且被reject，则停止上传
                beforeUpload(file) {
                    const isLt2M = file.size / 1024 / 1024 < 2;
                    if (!isLt2M) {
                        this.$message.error('上传图片大小不能超过 2MB!');
                    }
                    return isLt2M;
                },
                statusFormat(row){
                    if (row.type === '1') {
                        return '高拍仪'
                    } else  {
                        return '相机'
                    }

                },
                down(imageUrl){
                    window.location.href="/order/down?filename="+imageUrl;
                },
                delImage(imageId){
                  axios.get("../carrierImage/delete/"+imageId)
                    .then(resp => {
                        this.$message.success("delete success!");
                        this.loadImage();
                    })
                    .catch(error => {
                        this.$message.error("delete image error!");
                    })
                },
                editImage(imageId){
                    axios.get("../carrierImage/query/"+imageId)
                    .then(resp => {
                        this.updateImage = resp.data;
                        this.dialog.updateImageShow = true;
                    })
                    .catch(error => {
                        this.$message.error("editImage error!");
                    })
                },
                saveImage(){
                    axios.post("../carrierImage/update", this.updateImage)
                        .then(resp =>{
                            this.$message.success("success!");
                            this.dialog.updateImageShow = false;
                            this.loadImage();
                        })
                        .catch(error =>{
                            this.$message.error("error!");
                        })
                        .then(()=>{
                            this.$refs.updateImage.resetFields();
                        })
                },
            },
            mounted: function () {
                this.load();
                this.loadCustomer();
            }
        })
    </script>
</body>
</html>